---
export interface Props {
	title: string;
	description: string;
    path: string;
    bgColor: string;
	image?: string;
}
const { 
    title="Hello Word", description="This is a description", path="#", bgColor="#fadabd"
} = Astro.props;
---
<a href={path}>
    <div>{title}</div>
    <p>{description}</p>
</a>
<style define:vars={{ bgColor }}>
    a {
        background-color: var(--bgColor);
        padding: 20px;
        border: none;
        border-radius: 10px;
        text-decoration: none;
    }
    div {
        font-size: 20px;
        color: #4d4d4d;
        margin: 0;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: bold;
    }
    p {
        font-size: 14px;
        color: #4d4d4d;
        margin: 0;
    }
    a {
        width: 100%;
        max-width: 220px;
     }
    a:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    a div:hover {
        color: #000;
    }
</style>